
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
}

.container{
    max-width:1140px;
    margin:auto;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.section-title{
    background-color:#d5d5d5;
    flex:0 0 100%;
    max-width:100%;
    margin-bottom:35px;
}

.section-title h1{
    display:inline-block;
    font-size:35px;
    text-transform:uppercase;
    font-weight:700;
    color:#000;
    margin:0 0 10px;
    position:relative;
    padding-bottom:0px;
}

.section-title h1:before{
    content:'';
    left:0;
    position:absolute;
    height:2px;
    right:30%;
    background-color:#febd01;
    bottom:0px;
}

.text-center{
    text-align:center!important;
}

.text-left{
    text-align:left!important;
}

.text-right{
    text-align:right!important;
}


/*header*/
header{
    position:absolute;
    left:0px;
    right:0px;
    border-bottom:1px solid #423940;
    padding:0px 15px;
    z-index:10;
}

header .row{
    justify-content:space-between;
    align-items:center;
}

header .brand-name a{
/*background-color:blue;*/
text-decoration:none;
font-size:22px;
font-weight:600;
color:#fff;
text-transform:uppercase;
position:relative;
}


header .navbar{
    /*background-color:red;*/
}

header .navbar ul{
list-style:none;
padding:0;
margin:0;
}

header .navbar ul li{
 display:inline-block;
 margin-left:35px;   
}

header .navbar ul li a {
    font-size:15px;
    text-decoration:none;
    line-height:72px;
    color:#fff;
    display:block;
    font-weight:600;
    position:relative;
}

header .navbar ul li a ::before {
    content:'';
    height:3px;
    background-color:#fff;
    width:0%;
    position:absolute;
    right:0px;
    bottom:-1px;
    transition:all .5s ease;
}

header .navbar ul li a:hover::before{
  width:100%;
  left:0;  
}

header .navbar ul li a.active::before{
    width:100%;
    left:0; 
}


.home {
    min-height:100vh;
    background-image:url("images/hero/5.jpg");
    background-size:cover;
    background-position:center;
    padding:15px;
}

<!--start Home--> 
.home .full-screen{
min-height:100vh;
}

.home .home-content{
/*background-color:blue;*/
flex:0 0 100%;
max-width:100%;
display:flex;
flex-wrap:wrap;
align-items:center;

} 

.home .home-content .block {
    /*background-color:red;*/
    flex:0 0 75%;
    max-width:75%;
    padding-left:35px;
    border-left:5px solid #fff;
    margin-top:50px;
}

.home .home-content .block h4{
color:#fff;
font-size:28px;
font-weight:500;
padding-top:100px;
margin:0;

}

.home .home-content .block h1{
    color:gold;
    font-size:70px;
    font-weight:600;
    margin:0;
    padding:0;
    
}

.home .home-content .block h3{
    color:#fff;
    font-size:25px;
    font-weight:500;
    padding:0;
    margin:0;
   
}

.home .home-content .block .cv-btn{
    padding-top:20px;
}

.home .home-content .block .cv-btn a{
    border-radius:4px;
    color:#fff;
    padding:12px 25px;
    text-decoration:none;
    display:inline-block;
    font-size:15px;
    text-transform:uppercase;
    font-weight:600;
    transition:all .5s ease;
    background-color:transparent;
}

.home .home-content .block .cv-btn a:hover{
    background-color:#fff;
    color:#000;
}

<!--End Home--> 
<!--Start About-Me-->

.about-me{
    padding:100px 15px;
    background-color:#fff;

}


.text-uppercase{
    text-transform:uppercase!important;
}

.about-me .section-title p.small{
    display:block;
    font-size:14px;
    color:#838383;
    font-weight:400;
    letter-spacing:2px;
}

.about-me .about-content{
    
}

.about-me .about-content .img{
    flex:0 0 33.33%;
    max-width:33.33%;
}

.about-me .about-content .img img{
    width:100%;
    display:block;
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.about-me .about-content .text{
    flex:0 0 66.66%;
    max-width:66.66%; 
    padding-left:30px;
    
}

.about-me .about-content .text h4{
font-size:15px;
font-weight:600;
margin:0 0 5px;
color:#000;
font-size:58px;
}

.about-me .about-content .text h6{
    font-size:18px;
    font-weight:500;
    margin:0 0 15px;
    color:#000;
}

.about-me .about-content .text h6 span{
    color:#febd01;
}

.about-me .about-content .text p{
    font-size:15px;
    font-weight:400;
    line-height:24px;
    color:#838383;
    margin:0 0 20px;
}

.about-me .about-content .text .info{
    background-color:#000;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    font-size:14px;
}

.about-me .about-content .text .info .list{
    flex:0 0 calc(50% - 15px);
    max-width:calc(50% - 15px);
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    border-bottom:1px solid #dee2e6;
    padding-bottom:10px;
}

.about-me .about-content .text .info .list label{
    padding-right:20px;
    font-weight:600;
    font-size:15px;
}

.about-me .about-content .text .info .list p{
    margin:0;
}


.about-me .about-content .text .info .list span{
    color:#ffff00; 
}

<!--Start Social links-->
/*
body {
	margin :0;
	padding :0;
	background-color:#fff;
}

ul{
	position :absolute;
	top :50%;
	left :50%;
	transform :translate(-50%, -50%);
	margin :0;
	padding :0;
	display :flex;
}
*/
/*seperate buttons */
/*
ul li {
	list-style :none;
	margin :0 40px;
}
*/
/*button size  and color*/
/*
ul li a .fa {
	font-size :40px;
	color :#fff;
	line-height :80px;
	transition :.5s;
}

ul li a {
	position :relative;
	display :block;
	width :80px;
	height :80px;
	background :#fff;
	text-align :center;
	transform : perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
	transition :.5s;
	box-shadow :-20px 20px 10px rgba(0,0,0,.5);
}

ul li a:before {
	content :' ';
	position :absolute;
	top :10px;
	left :-20px;
	height :100%;
	width :20px;
	background :#b1b1b1;
	transform: rotate(0deg) skewy(-45deg); 
}

ul li a:after {
	content :' ';
	position :absolute;
	bottom :-20px;
	left :-10px;
	height :20px;
	width :100%;
	background :#b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewx(-45deg); 
}

ul li a:hover {
	transform : perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow : -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover  . fa {
	color :#ffffff;
}

ul li:nth-child(1) a {
	background :#3b5999;  
}
		ul li:hover:nth-child(1) a:before {
			background :#2e4a86;  
		}
		ul li:hover:nth-child(1)  a:after {
			background :#4a69ad;  
}
ul li:nth-child(2) a {
	background :#55acee;
}
		ul li:hover:nth-child(2) a:before {
			background :#4184b7;  
		}
		ul li:hover:nth-child(2)  a:after {
			background :#4d9fde;  
}
ul li:nth-child(3) a {
	background :#dd4b39;
}
		ul li:hover:nth-child(3) a:before {
			background :#c13929;  
		}
		ul li:hover:nth-child(3)  a:after {
			background :#e8432e;  
}
ul li:nth-child(4) a {
	background :#007bb5;
}
		ul li:hover:nth-child(4) a:before {
			background :#036aa0;  
		}
		ul li:hover:nth-child(4)  a:after {
			background :#0d82bf;  
}
ul li:nth-child(5) a {
	background :#e95950;
}
ul li:hover:nth-child(5) a:before {
			background :#e95950;  
}

		ul li:hover:nth-child(5)  a:after {
			background :#e95950;  
}

*/

<!--end Social links-->

<!--End About-Me-->


<!--Start Services-->

.services{
    background-color:#f5f8fd;
    padding:100px 0px 70px;
}

.services .section-title h1:before{
    left:30%;
}

.services .service-content{

    flex:0 0 100%;
    max-width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.services .service-content .box{
    background-color:#fff;
    padding:30px;
    flex:0 0 calc(33.33% - 20px); 
    max-width:calc(33.33% - 20px); 
    margin-bottom:30px;
    border:1px solid #eee; 
    text-align:center;
    position:relative;
    border-radius:5px;
}

.services .service-content .box::before{
content:;
height:2px;
background-color:#febd01;
position:absolute;
bottom:0px;
width:50px;
left:0;
right:0;
margin:auto;
transition:all .5s ease;
}

.services .service-content .box:hover::before{
width:100%;
}

.services .service-content .box .icon{
height:60px;
width:60px;
background-color:#febd01;
margin:15px auto 20px;
border-radius:50%;
text-align:center;

}

.services .service-content .box .icon .fa{
    font-size:25px;
    color:#fff;
    line-height:60px;
    
}

.services .service-content .box h5{
    font-size:16px;
    font: weight 600;
    color:#000;
    margin:0;
}

.services .service-content .box p{
    font-size:15px;
    font-weight:400;
    line-height:24px;
    color:#838383;
    margin:10px 0 10px;  
}










<!--End Services-->